body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .nav-wrapper {
    background-color: brown;
}


footer.page-footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: brown;
}
